#landing {
  h1,
  h3 {
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  h1 {
    font-size: clamp(28px, calc(24px + 0.5vw), 44px);
    margin-block-end: calc($p-size * 0.5);

    @media (min-width: 400px) {
      font-size: clamp(30px, calc(27px + 0.9vw), 44px);
    }
  }

  h3 {
    margin-block-start: calc($p-size * 0.5);
  }

  .mobile-header {
    margin-block-start: calc($main-padding-mobile-block + 10px);
    margin-inline: 10vw;
  }

  .breadcrumb {
    display: none;
  }

  .landing-signature-container {
    height: 80px;
    margin-block: 1rem;
    margin-inline: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .add-me-to-cart {
    color: $primary-white;
    background-color: $primary-black;
    border: 2px solid $primary-black;
    border-radius: 5px;

    width: 80%;
    max-width: 400px;
    margin-inline: auto;
    padding-block: 15px;

    transition: background-color 0.3s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 1vw, 22px);

    &:is(:hover, :focus-visible) {
      background-color: $primary-white;
      color: $primary-black;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    .mobile-header,
    .add-me-to-cart {
      display: none;
    }

    .breadcrumb {
      display: block;
    }
  }
}
