#landing {
  // This is to not show the horizontal line at the bottom of section
  height: calc(100dvh + calc(clamp(20px, 30px + 1.2vw, 40px)));
  padding: 0;
  @media (min-width: $tablet-breakpoint) {
    height: 100vh;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1,
  h3 {
    width: fit-content;
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  h1 {
    font-size: clamp(28px, calc(24px + 0.5vw), 44px);
    margin-block-end: calc($p-size * 0.5);

    @media (min-width: 400px) {
      font-size: clamp(30px, calc(25px + 2vw), 44px);
    }
  }

  h3 {
    margin-block-start: calc($p-size * 0.5);
  }

  .mobile-header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: fit-content;
    text-align: left;
    margin-block-start: calc($main-padding-mobile-inline + 25px);
    margin-inline: auto;

    @media (min-width: $mobile-breakpoint) {
      padding: $main-padding-mobile-inline;

      margin-inline: 0;
    }
    @media (min-width: $mobile-breakpoint) {
      margin-block-start: calc(50px);
    }

    p {
      width: fit-content;
    }
  }

  .breadcrumb {
    display: none;
    position: absolute;
    padding: $main-padding-desktop-inline;
  }

  .landing-signature-container {
    height: 80px;
    margin-block: 1rem;
    margin-inline: auto;
    width: 80%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .add-me-to-cart {
    color: $primary-white;
    background-color: $primary-black;
    border: 1px solid $primary-black;
    border-radius: 5px;
    text-decoration: none;

    width: 80%;
    max-width: 400px;
    margin-inline: auto;
    padding-block: 15px;

    transition: background-color 0.3s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 1vw, 22px);

    &:is(:hover, :focus-visible) {
      background-color: $primary-white;
      color: $primary-black;
    }
  }

  .mobile-line {
    margin-inline: $main-padding-mobile-inline;
  }

  @media (min-width: $tablet-breakpoint) {
    .mobile-header,
    .add-me-to-cart {
      display: none;
    }

    .breadcrumb {
      display: block;
    }
  }
}
