#overview {
  .expectations-container {
    max-height: 550px;
    position: relative;
    background-color: $secondary-yellow;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
      height: 100%;
    }

    @media (min-width: 760px) {
      padding-bottom: 8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1250px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h3 {
      max-width: 16em;
      height: fit-content;
    }

    .expectations-list {
      padding-left: 0;
      list-style-type: none;
      display: grid;
      gap: 10px;
      height: fit-content;

      li {
        gap: 10px;
        font-family: $p-font;

        .arrow {
          font-family: $heading-font;
          padding-right: 5px;
          font-size: 1.2em;
        }
      }
    }
  }
}
