.AccordionRoot {
  /* variables */
  $trigger-border-color: rgba(33, 33, 33, 0.3);
  $trigger-padding-mobile: calc($p-size * 1.25);
  $trigger-padding-desktop: calc($h3-size * 1.25);

  width: 100%;

  .AccordionItem {
    width: 100%;
  }

  .AccordionTrigger {
    font-family: $subheading-font;
    font-size: $p-size;
    padding: $trigger-padding-mobile;
    color: $primary-black;
    background-color: transparent;
    border: 1px solid $trigger-border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    text-transform: uppercase;

    @media (min-width: $tablet-breakpoint) {
      & {
        font-size: $h3-size;
        padding: $trigger-padding-desktop;
      }
    }
  }

  .AccordionContent {
    overflow: hidden;

    &[data-state='open'] {
      animation: slideDown 300ms;
    }
    &[data-state='closed'] {
      animation: slideUp 300ms;
    }

    p {
      padding: $trigger-padding-mobile;

      @media (min-width: $tablet-breakpoint) {
        padding: $trigger-padding-desktop;
      }
    }
  }

  .AccordionIcon {
    transition: transform 300ms;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    @media (min-width: $tablet-breakpoint) {
      width: 28px;
      height: 28px;
    }
  }
  .AccordionTrigger[data-state='open'] > .AccordionIcon {
    transform: rotate(225deg);
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  // breakpoint should be a little bigger since text still wraps a little at this size
  @media (min-width: $mobile-breakpoint) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
