.AccordionRoot {
  /* variables */
  $trigger-border-color: #bababa;
  $trigger-padding-mobile: calc($p-size * 1.25);
  $trigger-padding-desktop: calc($h3-size * 1.25);
  $border-thickness: 1px;
  // Used to reduce space between accordion trigger and content by ignoring trigger's padding-bottom
  $content-top-offset: calc(0.75 * $trigger-padding-desktop);

  .AccordionItem {
    width: 100%;
    // This is to avoid double borders
    border: $border-thickness solid $trigger-border-color;
    border-bottom: none;

    &:last-child {
      @media (min-width: $desktop-breakpoint) {
        border-bottom: $border-thickness solid $trigger-border-color;
      }
    }
  }

  .AccordionColumn {
    // Avoid double border on right side when there are 2 columns
    &:not(:first-child) {
      @media (min-width: $desktop-breakpoint) {
        transform: translateX(-$border-thickness);
      }
    }

    // Add border bottom for mobile
    &:last-child {
      .AccordionItem:last-child {
        border-bottom: $border-thickness solid $trigger-border-color;
      }
    }
  }

  .AccordionTrigger {
    border: none;
    font-family: $subheading-font;
    font-size: $p-size;
    padding: $trigger-padding-mobile;
    color: $primary-black;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;

    @media (min-width: $tablet-breakpoint) {
      & {
        font-size: $h3-size;
        padding: $trigger-padding-desktop;
      }
    }
  }

  .AccordionContent {
    overflow: hidden;

    &[data-state='open'] {
      animation: slideDown 300ms forwards;
    }
    &[data-state='closed'] {
      animation: slideUp 300ms;
    }

    p {
      padding: $trigger-padding-mobile;
      padding-top: 0;

      @media (min-width: $tablet-breakpoint) {
        padding: $trigger-padding-desktop;
        padding-top: 0;
      }
    }
  }

  .AccordionIcon {
    transition: transform 300ms;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    @media (min-width: $tablet-breakpoint) {
      width: 28px;
      height: 28px;
    }
  }
  .AccordionTrigger[data-state='open'] > .AccordionIcon {
    transform: rotate(225deg);
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: calc(var(--radix-accordion-content-height) - $content-top-offset);
      transform: translateY(calc(-1 * $content-top-offset));
    }
  }

  @keyframes slideUp {
    from {
      height: calc(var(--radix-accordion-content-height) - $content-top-offset);
      transform: translateY(calc(-1 * $content-top-offset));
    }
    to {
      height: 0;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
