footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: $mobile-breakpoint) {
    padding-top: 1rem;
    justify-content: start;
  }

  @media (min-width: $tablet-breakpoint) {
    padding-bottom: 0rem;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    p {
      font-size: $footer-font-size;
    }

    svg {
      height: $footer-font-size;
      color: rgba(184, 0, 66, 1);
      transform: scale(1.2);

      @media (min-width: $mobile-breakpoint) {
        transform: scale(1.1);
      }
    }

    #heart {
      margin-inline-start: calc($footer-font-size / 2);
      margin-inline-end: calc($footer-font-size / 1.5);

      @media (min-width: $mobile-breakpoint) {
        margin-inline-start: calc($footer-font-size / 2);
        margin-inline-end: calc($footer-font-size / 2);
      }
    }
  }
  a {
    font-size: $footer-font-size;
    font-family: $p-font;
  }
}
