nav {
  a {
    text-decoration: none;
  }
  .nav-container {
    padding-inline: $main-padding-mobile-inline;
    padding-block: $main-padding-mobile-block;
    width: 100vw;
    max-width: 500px;
    background: rgb(255, 255, 255);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: 0.3s ease-out;
    position: fixed;
    z-index: 1;

    &.panel-open {
      transform: translateX(0%);
    }

    &.panel-close {
      transform: translateX(-100%);
    }

    @media (max-width: $mobile-breakpoint) {
      padding-inline: clamp(41.5px, 12px + 1.2vw, 40px);
      padding-block: clamp(108px, 30px + 1.2vw, 40px);
    }

    @media (min-width: $mobile-breakpoint) {
      padding-inline: $main-padding-desktop-inline;
      padding-block: $main-padding-desktop-block;
    }

    @media (min-width: $tablet-breakpoint) {
      width: $nav-width;
      visibility: visible;
      position: static;

      &.panel-close {
        transform: translateX(0%);
      }
    }

    ul {
      list-style: none;
      font-family: $p-font;
      padding-left: 0;
    }
  }

  .dark_overlay {
    position: absolute;
    visibility: hidden;
    width: 100%;
    top: 0;
    height: 100dvh;
    background-color: black;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.is-active {
      visibility: visible;
      opacity: 0.25;
    }
  }

  .nav-link-list {
    display: flex;
    flex-direction: row;
    padding-bottom: 14px;
    max-width: 310px;
  }

  .nav-link {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #212121;
      transition: width 0.3s ease-in;
    }

    &:hover:before {
      width: 100%;
      left: 0;
    }
  }

  .highlight {
    position: absolute;
    left: 10;
    background-color: #f5ff85;
  }

  .asterisk {
    display: flex;
    justify-content: space-between;
    color: #212121;
    opacity: 0.45;
    max-width: 310px;
  }

  .nav-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 86px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .add-me-to-cart {
    color: #fcfcfc;
    background-color: #212121;
    height: 61.75px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400px;
  }

  h3 {
    font-size: 18px;
  }

  .add-me-to-cart {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .add-me-to-cart:hover {
    background-color: #fcfcfc;
    color: #212121;
  }

  .add-me-to-cart:hover .svg-cart path {
    stroke: #212121;
    stroke-width: 2.25px;
  }
}
