#apply {
  position: relative;
  //width: 100%;

  width: calc(100vw - 2 * $main-padding-mobile-inline);

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    text-transform: uppercase;
  }

  hr {
    background-color: lightgray;
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
    }
  }

  .grid {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    gap: 1rem;
    padding-block: 0;

    @media (min-width: $tablet-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      padding-block: 1rem;

      li:not-nth-child() {
        margin-right: 60px;
      }

      li > h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  button {
    display: none;
  }
}

.testimonials {
  * {
    margin-top: 0.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .testimonial-slide {
    padding: 0;
    margin-inline: 0;

    p {
      margin-block-start: 20px;
      margin: 0 2.5rem;
    }

    p.testimonial-text {
      margin-bottom: 1rem;
    }
  }
}
