#apply {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0.75rem;
  }

  h3 {
    text-transform: uppercase;
  }

  hr {
    border: 1px solid lightgray;
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
    }
  }

  .grid {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    gap: 0.5rem;
    padding-block: 0;

    @media (min-width: $tablet-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      padding-block: 1rem;
    }

    li {
      h3 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .bottom-section {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: $tablet-breakpoint) {
    button {
      display: none;
    }
  }
}
