.signature {
  display: flex;
  .hide-mobile {
    display: none;

    @media (min-width: $mobile-breakpoint) {
      isplay: flex;
    }
  }

  position: relative;
  font-size: $p-font;
  height: 60px;

  .signature-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    width: 100%;
    gap: 12px;

    span {
      font-family: $p-font;
      line-height: 1;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $outline-gray;
    }
  }
}
