#overview {
  h2 {
    margin-bottom: 2rem;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-wrap: pretty;
  }

  .overview-content {
    @media (min-width: $tablet-breakpoint) {
      height: calc(100% - 2 * $main-padding-desktop-block);
      display: flex;
      flex-direction: column;
    }

    .top-content {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      height: fit-content;

      @media (min-width: 760px) {
        flex-direction: row;
        gap: 2rem;
        align-items: end;
      }

      .description {
        margin-bottom: 2rem;
        max-width: 30em;
      }

      .logistics-container {
        display: grid;
        gap: 5px;
        margin-bottom: 2rem;

        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-family: $p-font;
          letter-spacing: 0.6px;
        }
      }
    }
  }
}
