.googly-eyes-container {
  position: absolute;
  inset: 0;

  .googly-eyes {
    &.blink {
      animation: Blink 0.18s forwards;
    }

    @keyframes Blink {
      0% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(0.1);
      }
      100% {
        transform: scaleY(1);
      }
    }
    transform: scale(0.3);

    @media (min-width: 380px) {
      transform: scale(0.4);
    }

    @media (min-width: 550px) {
      transform: scale(0.55);
    }

    @media (min-width: 760px) {
      transform: scale(0.65);
    }

    @media (min-width: 1250px) {
      transform: scale(0.8);
    }

    @media (min-width: 1440px) {
      transform: scale(0.95);
    }

    @media (min-width: 1750px) {
      transform: scale(1.1);
    }
  }

  #googly-eye1 {
    position: absolute;
    top: calc(10% + 8vw);
    right: 20%;

    @media (min-width: 475px) {
      top: 50%;
    }

    @media (min-width: 760px) {
      top: auto;
      bottom: 10%;
      right: 22%;
    }
  }

  #googly-eye2 {
    position: absolute;
    top: calc(25% - 1vw);
    right: 9%;

    @media (min-width: 475px) {
      top: 35%;
      right: 9%;
    }

    @media (min-width: 760px) {
      top: auto;
      bottom: 28%;
      right: 9%;
    }
  }
}
