.testimonials {
  margin-top: 1rem;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  h3 {
    @media (max-width: $tablet-breakpoint) {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    margin-bottom: 2rem;
  }

  .center-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 100%;
    background-color: $secondary-yellow;
    z-index: 1;
  }

  .slider-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #bababa;
    overflow-y: hidden;
    height: 100%;
    overflow-y: hidden;

    ul {
      padding-left: 0;
      list-style-type: none;
      position: relative;
      z-index: 2;

      height: 100%;
      max-height: 100%;
      min-height: 100%;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 100px;
        height: 100%;
        background-color: white;
        position: absolute;
        z-index: 3;
      }

      &::before {
        left: 0;
        background: linear-gradient(to right, white, transparent);
      }

      &::after {
        right: 0;
        background: linear-gradient(to left, white, transparent);
      }

      li {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-height: 100%;
        // overflow-y: scroll !important;
        max-height: 100%;

        .reviewer {
          text-align: right;
        }
      }
    }
  }

  .arrow-container {
    display: flex;
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    z-index: 2;

    .arrow {
      width: 30px;
      height: 30px;
      top: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      fill: #fff;
      cursor: pointer;
    }

    .arrow--left,
    .arrow--right {
      background-color: black;
      padding: 10% 0;
    }
  }
}
