.hamburger {
  $hamburger-height: 10px;
  $hamburger-width: 16px;
  $line-height: 2px;
  position: absolute;
  background: none;
  border: none;
  padding-block: calc($main-padding-mobile-block/2);
  padding-inline: calc($main-padding-mobile-inline/2 - $hamburger-width/2);

  @media (min-width: $mobile-breakpoint) {
    padding-block: $main-padding-tablet-block;
    padding-right: calc($main-padding-tablet-inline/2 - $hamburger-width/2);
  }

  .container {
    position: relative;
    inset: 0;
    width: $hamburger-width;
    height: $hamburger-height;
    left: 0;
    outline-offset: 3px;
    border: none;
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
  }

  .line {
    position: relative;

    &,
    &:before {
      background: black;
      width: 100%;
      height: $line-height;
      transition:
        transform 0.12s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        top 0.12s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: calc($hamburger-height - $line-height);
    }
  }

  &.is-active {
    .line {
      transform: translateY(7px) rotate(135deg);
    }

    .line::before {
      top: 0;
      transform: rotate(-90deg);
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    display: none;
  }
}
