.home_page {
  display: flex;
  height: 100dvh;
  overflow: hidden;

  .main-content {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: none;
    width: 100%;
    position: relative;

    @media (min-width: $desktop-breakpoint) {
      scroll-behavior: smooth;
      display: grid;
      scroll-snap-type: y mandatory;
    }

    .breadcrumb {
      font-family: $subheading-font;
      text-transform: uppercase;
      color: #212121;
      font-size: 20px;
      letter-spacing: 0.6px;
      margin-bottom: 0.2em;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    section {
      scroll-margin: $main-padding-mobile-block;
      position: relative;
      background-color: $primary-white;
      scroll-snap-align: center;
      padding-inline: 24px;
      overflow-y: visible;

      .mobile-line {
        border: 1px solid $outline-gray;
        margin-block: $main-padding-mobile-block;

        @media (min-width: $tablet-breakpoint) {
          display: none;
        }
      }

      @media (min-width: 350px) {
        padding-inline: $main-padding-mobile-inline;
      }

      @media (min-width: $mobile-breakpoint) {
        padding-inline: $main-padding-tablet-inline;
      }

      @media (min-width: $tablet-breakpoint) {
        padding-block: $main-padding-desktop-block;
        padding-inline: $main-padding-desktop-inline;

        h2 {
          margin-bottom: 40px;
        }
      }

      @media (min-width: $desktop-breakpoint) {
        height: 100vh;
      }
    }
  }
}
