.fruit-container {
  svg {
    display: none;
  }
  width: calc(80dvw - 190px);
  height: min(60dvh, 350px);
  width: calc(100% - 2 * $main-padding-mobile-inline - 20vw);
  margin-inline: auto;
  //   border: 2px solid red;
}

@media (min-width: $tablet-breakpoint) {
  .fruit-container {
    height: 80dvh;
    width: 100%;
  }
}
