.fruit-container {
  svg {
    display: none;
  }
  height: min(60dvh, 340px);
  width: calc(80dvw - 2 * $main-padding-mobile-inline);
  margin-inline: auto;
  margin-block: 2.5dvh;
  //   border: 2px solid red;
}

@media (min-width: $tablet-breakpoint) {
  .fruit-container {
    height: 80dvh;
    width: 100%;
  }
}
