.fruit-container {
  svg {
    display: none;
  }
  height: 100%;
  display: grid;
  align-items: flex-end;
  justify-items: center;
  position: relative;

  .fruits-basket {
    display: block;
    position: absolute;
    width: 100%;
    align-self: flex-end;
    padding-inline: $main-padding-desktop-inline;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .wide-fruits-basket {
    display: none;
    position: absolute;
    width: 100%;
    align-self: flex-end;
    path {
      stroke-width: 5;
    }

    @media (min-width: $tablet-breakpoint) {
      padding-inline: $main-padding-desktop-inline;
      display: block;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .fruit-container {
    height: 100%;
    width: 100%;
    margin-bottom: $main-padding-desktop-block;
  }
}
