#themes {
  h2 {
    margin-block: 10px $h1-size;
  }

  .non-profit {
    font-size: calc($p-size * 0.8);
    text-transform: uppercase;
    text-wrap: nowrap;
    line-height: 1;

    display: inline-block;
    padding: 10px;
    border: 2px solid $outline-gray;
    border-radius: 5px;

    color: $outline-gray;
  }
}
