.theme-slide {
  /* variables */
  $slide-margin: 20px;

  padding: $slide-margin;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  // max-height: 675px;

  height: 100%;

  .top-section {
    h3 {
      display: inline-block;
      border-radius: 5px;
      padding: 10px;
      line-height: 1;
      font-size: $p-size;
    }
  }

  .bottom-section {
    hr {
      border: 1px solid $outline-gray;
      margin-block: $slide-margin;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: $h3-size;
  }

  p {
    margin-block-start: $slide-margin;
  }

  .non-profit-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0;
    list-style-type: none;
    max-width: 80%;

    @media (min-width: $mobile-breakpoint) {
      max-width: 100%;
    }

    .non-profit {
      a {
        font-size: $p-size;
        text-decoration: none;
        font-family: $p-font;
        outline: none;
        background-color: $primary-white;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        line-height: 1;
        border: 1px solid $primary-black;
        border-radius: 5px;
        margin-block-start: 0;
        cursor: pointer;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:is(:hover, :focus-visible) {
          background-color: $primary-black;
          color: $primary-white;
        }
      }
    }
  }

  @media (min-width: $mobile-breakpoint) {
    padding: $slide-margin;
    border: 1.5px solid $outline-gray;
  }

  @media (min-width: $tablet-breakpoint) {
    margin: 0;
    height: 100%;
  }
}
