#faq {
  $mobile-apricot-lower-breakpoint: 720px;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    margin-bottom: 2rem;
  }

  #apricot-container,
  .apricot.mobile {
    display: none;
    z-index: 0;
  }

  @media ($mobile-apricot-lower-breakpoint < width < $tablet-breakpoint) {
    .apricot.mobile {
      display: block;
      position: absolute;
      width: 30%;
      height: auto;
    }

    #apricot-1 {
      top: 20%;
      left: -20%;
      transform: rotate(20deg);
    }

    #apricot-2 {
      bottom: 20%;
      right: -15%;
      transform: rotate(-30deg);
    }
  }
}
